extends layout

block content
  header
    h1= 'Message Board'
    p= 'speak your mind freely'
  main
    .button-container
      a(href=`https://hidden-reef-92811.herokuapp.com/`): button.compose= "got something to say?"
    each message in messages
      section.message-card
        h2= message.text
        footer
          p.username= message.user
          p.date= message.added
