extends layout

block content
  header
    h1= 'Self Message Board'
  main
    .button-container
      a(href=`https://hidden-reef-92811.herokuapp.com/new`): button.compose= "got something to say?"
      hr
    each message in messages
      section.message-card
        h2= "Title:" + message.title
        h3= message.message
        footer
          p.username= message.user
          p.date= message.date
